@model EmployeeModel
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <script type="text/javascript">
        alert('@errorMessage');
    </script>
}

<div class="EmployeeForm">
    <span asp-validation-for="@Model.EmployeeId" class="text-danger"></span>
    <div class="form-group">
        <input type="hidden" readonly asp-for="@Model.EmployeeId" id="employeeId" class="form-control" />
    </div>
    <div class="form-row row">
        <div class="form-group w-50 col">
            <label asp-for="@Model.FirstName" class="control-label"></label>
            <input asp-for="@Model.FirstName" class="form-control w-75 non-editable" />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group w-50 col">
            <label asp-for="@Model.LastName" class="control-label"></label>
            <input asp-for="@Model.LastName" class="form-control w-75 non-editable" />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row row">
        <div class="form-group w-50 col">
            <label asp-for="@Model.Email" class="control-label"></label>
            <input asp-for="@Model.Email" class="form-control w-75" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group w-50 col">
            <label asp-for="@Model.PhoneNumber" class="control-label"></label>
            <input asp-for="@Model.PhoneNumber" class="form-control w-75" />
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row row">
        <div class="form-group w-50 col">
            <label asp-for="@Model.JobId" class="control-label"></label>
            @*             <input asp-for="@Model.JobId" class="form-control" /> *@
            <select asp-for="@Model.JobId" id="JobId" class="form-control form-select w-75 non-editable">
                @{
                    if (Model.JobId == null)
                    {
                        <option selected>Select a Job</option>
                    }
                    else
                    {
                        <option value="@Model.JobId" selected>Select a Job</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.JobId" class="text-danger"></span>
        </div>
        <div class="form-group w-50 col">
            <label asp-for="@Model.Salary" class="control-label"></label>
            <input asp-for="@Model.Salary" class="form-control w-75" />
            <span asp-validation-for="@Model.Salary" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row row">
        <div class="form-group w-50 col">
            <label asp-for="@Model.CommissionPct" class="control-label"></label>
            <input asp-for="@Model.CommissionPct" class="form-control w-75 non-editable" />
            <span asp-validation-for="@Model.CommissionPct" class="text-danger"></span>
        </div>
        <div class="form-group w-50 col">
            <label asp-for="@Model.HireDate" class="control-label"></label>
            <input asp-for="@Model.HireDate" class="form-control w-75 non-editable" />
            <span asp-validation-for="@Model.HireDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row row">
        <div class="form-group w-50 col">
            <label asp-for="@Model.ManagerId" class="control-label"></label>
            <select asp-for="@Model.ManagerId" id="ManagerId" class="form-control form-select w-75 non-editable">
                @{
                    if (Model.ManagerId == null)
                    {
                        <option value="-1" selected>None</option>
                    }
                    else
                    {
                        <option value="@Model.ManagerId" selected>None</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.ManagerId" class="text-danger"></span>
        </div>
        <div class="form-group w-50 col">
            <label asp-for="@Model.DepartmentId" class="control-label"></label>
            <select asp-for="@Model.DepartmentId" id="DepartmentId" class="form-control form-select w-75 non-editable">
                <option selected>None</option>
                @{
                    if (Model.DepartmentId == null)
                    {
                        <option value="-1" selected>None</option>
                    }
                    else
                    {
                        <option value="@Model.DepartmentId" selected>None</option>
                    }
                }
            </select>
            <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
        </div>
    </div>
</div>